header {
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 15%;
    margin-right: 15%;    
}

main {
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

body {
    background: url(photos/main.jpg);
}

.headerUrl {
    padding-right: 5%;
    font-size: 200%;
}

nav {
    text-align: center;
    padding: 2%;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.tableTwo {
    padding-bottom: 4%;
}

td {
    border: 1px solid black;
    padding: 1%;
}

.colspan {
    background-color: rgb(101, 212, 198);
}

.rowspan {
    background-color: rgb(252, 237, 210);
}

.formOne {
    text-align: right;
    margin-right: 60%;
    padding: 2%; 
    border: 2px solid black;  
}

.formTwo {
    border: 2px solid black;
    padding: 2%;
    padding: 2%; 
    margin-right: 60%; 
}

h1 {
    margin: 1%;
}