header {
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 15%;
    margin-right: 15%;    
}

main {
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

body {
    background: url(photos/main.jpg);
}

.headerUrl {
    padding-right: 5%;
    font-size: 200%;
}

nav {
    text-align: center;
    padding: 2%;
}

img {
    width: 4%;
    float: left;
}


div {
    margin-left: 8%;
}

h1 {
    font-size: 200%;
    margin: 2%;
}

p {
    margin: 3%;
}